@inherits LayoutComponentBase

<MudThemeProvider @bind-IsDarkMode="_isDarkMode" />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="page">
    <MudLayout>
        <MudAppBar>
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
            <MudButton Class="mx-4" Href="/gallery" target="_blank">Gallery</MudButton>
            <MudButton Class="mx-4" Href="/gallery" target="_blank">Wiki</MudButton>
            <MudButton Class="mx-4" Href="/gallery" target="_blank">Blog</MudButton>
            <MudSpacer />
            <MudSpacer />
            <MudSpacer />
        </MudAppBar>

        <MudMainContent Class="ma-8">
            @Body
        </MudMainContent>
    </MudLayout>
</div>

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>

@code {
    bool _isDarkMode = true;
}
